.container {
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.imagen1 {
  position: relative;
  width: 100dvw;
  height: 10.2rem;
  top: 14%;
}

.imagen2 {
  position: relative;
  width: 100%;
  height: 8.2rem;
  margin-top: 5%;
}

.centered {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 12%;
}

.lg1C {
  width: 200px;
  height: 200px;
  border: 4px solid #34B0A6;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
}

.lg1 {
  width: 150px;
  height: 150px;
}

.tex {
  font-size: 40px;
  font-family: 'Kavoon', cursive;
  margin-top: 6%;
  color: #000;
}

.button {
  background-color: #34B0A6;
  color: #ffffff;
  border-radius: 50px;
  width: 300px;
  height: 80px;
  font-weight: bold;
  font-size: 25px;
  border: none;
  cursor: pointer;
  margin-top: 0%;
  margin-left: 38%;
}