/* home.css */
@font-face {
    font-family: 'CenturyGothic';
    src: url('../assets/font/3394-font.ttf') format('truetype');
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../assets/font/4410-font.ttf') format('truetype');
}

.container1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    width: 297%;
    font-family: 'CenturyGothic-Bold', sans-serif;
}

.header-section {
    position: relative;
    width: 307%;
    background-color: #99E7D9;
    right: 109%;
    height: 8.5rem;
}

.professor-image {
    position: relative;
    left: 91.9%;
    margin-top: 2.9%;
}

.greeting {
    position: relative;
    left: 35%;
    bottom: 10.3rem;
    font-family: 'CenturyGothic-Bold', sans-serif;
    color: #000000;
    width: 32%;
}

.create-class-btn{
    position: relative;
    left: 80%;
    bottom: 12.2rem;
    background-color: #34B0A6;
    border-radius: 50px;
}

.activities-section{
    position: relative;
    top: 0.0rem;
    background-color: #F2F2F2;
    width: 60%;
    height: 27.2rem;
    padding-left: 5%;
    right: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.activity-icon{
    position: relative;
    top: 0.2rem;
    width: 50px;
    height: 50px;
    padding-right: 5%;
    padding-left: 4%;
}

.activity-text{
    position: relative;
    color: #000000;
    bottom: 1.0rem;
}

.ai-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #99E7D9;
    border-radius: 20px;
    z-index: 1000;
    padding: 15px;
    cursor: pointer;
}

/*//////////////////*/
.activity-card {
    background: #F2F2F2;
    border-radius: 16px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border: 2px solid #e9ecef;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    min-height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Efecto hover - TODA LA TARJETA DEL MISMO COLOR */
.activity-card:hover {
    background: linear-gradient(135deg, #34B0A6 0%, #34B0A6 100%);
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(102, 126, 234, 0.3);
    border-color: #99E7D9;
    border-radius: 25px;
}

/*Seccion de clase*/
.section-title{
    color: #000000;
}
.classes-section{
    position: relative;
    bottom: 25.2rem;
    border-color: #000000;
    border-width: 2;
    border-radius: 12px;
}

.class-card{
    border-radius: 100px;
    border-width: 2px;
    border-color: #000000;
    margin-bottom: 1.5rem;
}

.class-banner-container{
    position: relative;
    height: 12.2rem;
}

.class-name{
    position: relative;
    bottom: 12.2rem;
    color: #000000;
    left: 8.2rem;
}

.class-banner{
    border-radius: 30px;
    border-width: 3px;
    border-style:ridge;
    border-color: #000000;
    opacity: 0.4;
}